.background{
    background-color: rgba(0, 0, 0, 0.073);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
}

.filters{
    width: 25vw;
    height: 100vh;
    background-color: white;
    padding: 2vw;
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3vw;
}

.closeButton{
    background-color: transparent;
    border: none;
}

.closeImage{
    width: 2vw;
    height: 2vw;
}

.filterGroup{
    margin: 2.5vw 0vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.label{
    font-size: 1.1vw;
    font-weight: 600;
    margin-bottom: 1.5vw;
}

.priceRange, .dateRange{
    display: flex;
    justify-content: space-between;
}

.priceInput, .dateInput{
    display: flex;
    flex-direction: column;
}

.priceLabel, .dateLabel{
    font-size: 1vw;
    margin-bottom: 0.4vw;
}

.input{
    height: 2.5vw;
    width: 100%;
    border: none;
    border-radius: 0.8vw;
    background-color: rgb(237, 237, 237);
    padding: 1vw;
    font-size: 1vw;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.input:focus {
    border-color: #667eea;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
    background-color: #ffffff;
}

.input:hover {
    border-color: #cbd5e0;
}

.singleInput{
    width: 9vw;
}

.select{
    height: 2.5vw;
    border: none;
    background-color:  rgb(237, 237, 237);
    border-radius: 0.8vw;
    font-size: 1vw;
    padding: 0 1vw;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 12px center;
    background-repeat: no-repeat;
    background-size: 16px;
}

.select:focus {
    border-color: #667eea;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
}

.select:hover {
    border-color: #cbd5e0;
}

.actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
}

.applyButton, .resetButton{
    width: 9vw;
    height: 2.5vw;
    border-radius: 0.8vw;
    border: none;
    color: white;
    font-size: 1vw;
}

.resetButton{
    background-color: #65a4ec;
}

.resetButton:hover{
    background-color: #5c99df;
}

.applyButton{
    background-color: #bf75dc;
}

.applyButton:hover{
    background-color: #af64cc;
}



.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input[type="number"] {
    -moz-appearance: textfield;
}
